!!!5
%head
  %title JPC2000 &ndash; JavaScript Production Center

  %link{ type: 'text/css', rel: 'stylesheet', href: 'style/jpc.css' }

  %script{ type: 'text/javascript', src: 'script/jquery-1.7.1.min.js' }
  %script{ type: 'text/javascript', src: 'script/underscore-min.js' }
  %script{ type: 'text/javascript', src: 'script/backbone-min.js' }
  %script{ type: 'text/javascript', src: 'script/jpc.js' }

%body

  %a{ href: 'http://github.com/stevegraham/JPC2000' }
    %img{ src: 'https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', style: 'position: fixed; right: 0; top: 0; z-index: 999;' }

  #jpc
    #bezel
      %canvas#display{ width: '500px', height: '80px' }


    #pads
      %button#113.pad q
      %button#119.pad w
      %button#101.pad e
      %button#114.pad r
      %button#117.pad u
      %button#105.pad i
      %button#111.pad o
      %button#112.pad p


    #right
      #transport
        %button#record record
        %button#play play
        %button#stop stop
        %button#undo undo




      #params
        %fieldset
          %legend choke group
          %input{ type: 'radio', name: 'choke', value: 1, disabled: 'disabled' } 1
          %input{ type: 'radio', name: 'choke', value: 2, disabled: 'disabled' } 2
          %input{ type: 'radio', name: 'choke', value: 3, disabled: 'disabled' } 3
          %input{ type: 'radio', name: 'choke', value: 4, disabled: 'disabled' } 4
        %input#pitch{ type: 'range', min: 0.50, max: 1.50, step: 0.01, value: 1.00 }


  :javascript
    var GoSquared={};
    GoSquared.acct = "GSN-227323-X";
    (function(w){
        function gs(){
            w._gstc_lt=+(new Date); var d=document;
            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
        }
        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
    })(window);
