!!!5
%head
  %title JPC2000 &ndash; JavaScript Production Center

  %link{ type: 'text/css', rel: 'stylesheet', href: 'style/jpc.css' }

  %script{ type: 'text/javascript', src: 'script/jquery-1.7.1.min.js' }
  %script{ type: 'text/javascript', src: 'script/underscore-min.js' }
  %script{ type: 'text/javascript', src: 'script/backbone-min.js' }
  %script{ type: 'text/javascript', src: 'script/jpc.js' }

%body

  %a{ href: 'http://github.com/stevegraham/JPC2000' }
    %img{ src: 'https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', style: 'position: fixed; right: 0; top: 0; z-index: 999;' }

  #jpc
    #bezel
      %canvas#display{ width: '500px', height: '80px' }


    #pads
      %button#97.pad  a
      %button#115.pad s
      %button#100.pad d
      %button#102.pad f
      %label.bank{for: '103'} Rec
      %button#103.bank g
      %label.bank{for: '104'} Play
      %button#104.bank h
      %button#106.pad j
      %button#107.pad k
      %button#108.pad l
      %button#59.pad  ;


    #right
      #transport
        %button#record record
        %button#play play
        %button#stop stop
        %button#undo undo




      #params
        %fieldset
          %legend choke group
          %input{ type: 'radio', name: 'choke', value: 1, disabled: 'disabled' } 1
          %input{ type: 'radio', name: 'choke', value: 2, disabled: 'disabled' } 2
          %input{ type: 'radio', name: 'choke', value: 3, disabled: 'disabled' } 3
          %input{ type: 'radio', name: 'choke', value: 4, disabled: 'disabled' } 4
        %input#pitch{ type: 'range', min: 0.50, max: 1.50, step: 0.01, value: 1.00 }

      .table#sequencer
        .tr#row1
          .td.step1
            %button#49.step 1
            %button#50.step 2
            %button#51.step 3
            %button#52.step 4
            %button#53.step 5
            %button#54.step 6
            %button#55.step 7
            %button#56.step 8
            %button#113.step q
            %button#119.step w
            %button#101.step e
            %button#114.step r
            %button#116.step t
            %button#121.step y
            %button#117.step u
            %button#105.step i



